<?xml version="1.0" encoding="utf-8"?>
<Content Key="405cd990-3dbb-4cba-8805-9a28b70f2468" Alias=".NET Software Engineer" Level="2">
  <Info>
    <Parent Key="7cf8f4c7-edb8-44a5-9ce2-2a3cdf5eac02">Jobs</Parent>
    <Path>/Jobs/NETSoftwareEngineer</Path>
    <Trashed>false</Trashed>
    <ContentType>jobDescription</ContentType>
    <CreateDate>2020-10-07T14:26:45</CreateDate>
    <NodeName Default=".NET Software Engineer" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <buttonText>
      <Value><![CDATA[]]></Value>
    </buttonText>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1912bf06729949b1812a1cff80c98236"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "132200a3-1d2a-4b21-bf9f-6c4c4bda6f59",
      "udi": "umb://element/1912bf06729949b1812a1cff80c98236",
      "whatYouWill": "Produce high-quality design deliverables that describes how the solution will accommodate business and technical requirements.\r\nDesign, develop, maintain efficient and conduct testing for the software.\r\nParticipate in R&D, training and knowledge sharing activities.\r\nEnsure the tasks assigned are done on time with high quality.",
      "weExpectYouToHave": "Bachelor degree in Computer Science, Software Engineering, Information technology or equivalent.\r\n1 year experience in C#, .NET programming languages.\r\nStrong fluency in English (spoken and written) are required.\r\nOOP (Object Oriented Programming).\r\nExperience working in ASP.NET MVC/Core, SQL Server and Entity Framework are required.\r\nDeep understanding of HTML, CSS and Javascript (Angular or ReactJS).\r\nSource control: Git.",
      "location": "HO CHI MINH CITY",
      "qualifications": "1+ YEAR EXPERIENCE"
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <jobTitle>
      <Value><![CDATA[.NET Software Engineer]]></Value>
    </jobTitle>
    <quantity>
      <Value><![CDATA[5]]></Value>
    </quantity>
  </Properties>
</Content>