<?xml version="1.0" encoding="utf-8"?>
<Content Key="62fffc1d-803e-4a74-bae9-8dab11b54cd6" Alias="About" Level="2">
  <Info>
    <Parent Key="34245ec6-8d29-4073-b0a3-73db29cd52e6">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>about</ContentType>
    <CreateDate>2020-09-25T10:32:16</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[umb://media/f867659010af460abcde37194a3fa733]]></Value>
    </bannerImage>
    <bannerTitle>
      <Value><![CDATA[About Us]]></Value>
    </bannerTitle>
    <content>
      <Value><![CDATA[Founded 2014, we are a group of Microsoft certified developers who want to solve business challenge with SharePoint. We also using .Net technology to provide warehouse and service management systems to customer which integrated seamlessly in to current system or ERP.
Although the usage of cloud is growing but our customer still need on-premise solutions so we expand to hardware domain our customers can get more benefit from our whole IT solution from us]]></Value>
    </content>
    <descriptionContactSection>
      <Value><![CDATA[]]></Value>
    </descriptionContactSection>
    <imageContactSection>
      <Value><![CDATA[]]></Value>
    </imageContactSection>
    <mission>
      <Value><![CDATA[]]></Value>
    </mission>
    <missionContent>
      <Value><![CDATA[]]></Value>
    </missionContent>
    <subTitle>
      <Value><![CDATA[Our History]]></Value>
    </subTitle>
    <subTitleContactSection>
      <Value><![CDATA[]]></Value>
    </subTitleContactSection>
    <titleAboutUs>
      <Value><![CDATA[ABOUT US]]></Value>
    </titleAboutUs>
    <titleContactSection>
      <Value><![CDATA[]]></Value>
    </titleContactSection>
    <vision>
      <Value><![CDATA[]]></Value>
    </vision>
    <visionContent>
      <Value><![CDATA[]]></Value>
    </visionContent>
  </Properties>
</Content>