<?xml version="1.0" encoding="utf-8"?>
<Content Key="62fffc1d-803e-4a74-bae9-8dab11b54cd6" Alias="About" Level="2">
  <Info>
    <Parent Key="34245ec6-8d29-4073-b0a3-73db29cd52e6">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>about</ContentType>
    <CreateDate>2020-09-25T10:32:16</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[umb://media/f867659010af460abcde37194a3fa733]]></Value>
    </bannerImage>
    <bannerTitle>
      <Value><![CDATA[About Us]]></Value>
    </bannerTitle>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>