<?xml version="1.0" encoding="utf-8"?>
<Content Key="77846c24-45ad-4401-a517-11bb15e1b0a2" Alias="Basic Components" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BasicComponents</Path>
    <Trashed>false</Trashed>
    <ContentType>basicComponents</ContentType>
    <CreateDate>2020-10-04T15:45:08</CreateDate>
    <NodeName Default="Basic Components" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>