<?xml version="1.0" encoding="utf-8"?>
<Content Key="f6a9cdd5-b803-4490-b361-6fef1142c0ff" Alias="Career" Level="2">
  <Info>
    <Parent Key="34245ec6-8d29-4073-b0a3-73db29cd52e6">Home</Parent>
    <Path>/Home/Career</Path>
    <Trashed>false</Trashed>
    <ContentType>career</ContentType>
    <CreateDate>2020-10-07T10:18:10</CreateDate>
    <NodeName Default="Career" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="03553138-928a-4526-b940-0e74d106cbb8">career</Template>
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[umb://media/f867659010af460abcde37194a3fa733]]></Value>
    </bannerImage>
    <bannerTitle>
      <Value><![CDATA[WE'RE ALWAYS LOOKING FOR ROCKSTARS]]></Value>
    </bannerTitle>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bf66678d97494a738eb6bd608e7298c8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "41ffcb44-d32a-4410-bf04-2cde734a10bb",
      "udi": "umb://element/bf66678d97494a738eb6bd608e7298c8",
      "header": "Find Your ",
      "headerBold": "Oportunity",
      "shortDescription": "We constantly looking for members to build up our crew.",
      "description": "Despite of your ability, there is always a place for you in CARP TECH as long as we together can create value for our customers. CARP TECH provides a flexible environment for you to contribute at your maximum while enjoying the life. You never have to choose between work and family here.",
      "blockQuote": "We want to create a place so everybody can contribute their value. While respecting the differences between us, we work for one share value of a whole organization."
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <currentOpenings>
      <Value><![CDATA[umb://document/46ac9fef30bc47668970eff12e591ffc,umb://document/405cd9903dbb4cba88059a28b70f2468,umb://document/866e186c658d4d1b8d099eef67109360]]></Value>
    </currentOpenings>
    <ourBenefits>
      <Value><![CDATA[<ul>
<li>Competitive salary.</li>
<li>Free lunch</li>
<li>Company trips</li>
</ul>]]></Value>
    </ourBenefits>
    <ourCulture>
      <Value><![CDATA[<ul>
<li>Friendly and supportive.</li>
<li>Encourage to study</li>
<li>Motivate to grow</li>
</ul>]]></Value>
    </ourCulture>
  </Properties>
</Content>