<?xml version="1.0" encoding="utf-8"?>
<Content Key="c87da9aa-bda4-475d-bd66-f9132a474221" Alias="Contact" Level="2">
  <Info>
    <Parent Key="34245ec6-8d29-4073-b0a3-73db29cd52e6">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2020-09-25T10:32:22</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[umb://media/f867659010af460abcde37194a3fa733]]></Value>
    </bannerImage>
    <bannerTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </bannerTitle>
    <subTitleContactForm>
      <Value><![CDATA[we are looking forward to hear from you]]></Value>
    </subTitleContactForm>
    <titleContactForm>
      <Value><![CDATA[GET IN TOUCH]]></Value>
    </titleContactForm>
    <yourEmail>
      <Value><![CDATA[Email]]></Value>
    </yourEmail>
    <yourMessage>
      <Value><![CDATA[Message]]></Value>
    </yourMessage>
    <yourName>
      <Value><![CDATA[Name]]></Value>
    </yourName>
    <yourPhone>
      <Value><![CDATA[Phone]]></Value>
    </yourPhone>
  </Properties>
</Content>