<?xml version="1.0" encoding="utf-8"?>
<Content Key="050e60ca-f47a-437e-9afe-1187a90a37c9" Alias="Contacts" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Contacts</Path>
    <Trashed>false</Trashed>
    <ContentType>contactList</ContentType>
    <CreateDate>2020-09-25T11:52:09</CreateDate>
    <NodeName Default="Contacts" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>