<?xml version="1.0" encoding="utf-8"?>
<Content Key="34781e84-7860-4da8-bb02-f61a67c1e884" Alias="Counters" Level="2">
  <Info>
    <Parent Key="77846c24-45ad-4401-a517-11bb15e1b0a2">Basic Components</Parent>
    <Path>/BasicComponents/Counters</Path>
    <Trashed>false</Trashed>
    <ContentType>counters</ContentType>
    <CreateDate>2020-10-04T21:34:48</CreateDate>
    <NodeName Default="Counters" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <counterContent>
      <Value><![CDATA[[
  {
    "key": "9384b888-c81e-4852-b8de-8f79c32e1975",
    "name": "Years in Business",
    "ncContentTypeAlias": "counter",
    "text": "Years in Business",
    "number": "5"
  },
  {
    "key": "4fd02f92-f8f3-4416-b7bd-90c5fe5318e9",
    "name": "Clients and Partners",
    "ncContentTypeAlias": "counter",
    "text": "Clients and Partners",
    "number": "20+"
  },
  {
    "key": "0cc02054-0fc9-4a8e-9637-cb314e36de41",
    "name": "Item 3",
    "ncContentTypeAlias": "counter",
    "text": "Delivered project",
    "number": "15"
  }
]]]></Value>
    </counterContent>
  </Properties>
</Content>