<?xml version="1.0" encoding="utf-8"?>
<Content Key="f55dff24-f66e-4279-b791-e51d9a672a68" Alias="History Timelines" Level="2">
  <Info>
    <Parent Key="77846c24-45ad-4401-a517-11bb15e1b0a2">Basic Components</Parent>
    <Path>/BasicComponents/HistoryTimelines</Path>
    <Trashed>false</Trashed>
    <ContentType>historyTimelines</ContentType>
    <CreateDate>2020-10-04T22:37:27</CreateDate>
    <NodeName Default="History Timelines" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <historyTimelinesContent>
      <Value><![CDATA[[
  {
    "key": "9f9832a9-d378-48c1-98f4-5ea83a8cd020",
    "name": "2/2014",
    "ncContentTypeAlias": "event",
    "year": "2/2014",
    "title": "Company formed",
    "shortDescription": "A group of software engineer decided to build their own team to make software the way they like"
  },
  {
    "key": "477548f4-66e1-40b3-ac01-872863703ee9",
    "name": "2015",
    "ncContentTypeAlias": "event",
    "year": "2015",
    "title": "Document management system on SharePoint",
    "shortDescription": "CARP TECH delivered the first system to manage big documents in enterprise. This system support non-paper creating, approving, and signing documents."
  },
  {
    "key": "aa5f174c-cbc9-4280-a3c6-2b1c19415049",
    "name": "2016",
    "ncContentTypeAlias": "event",
    "year": "2016",
    "title": "Orb Health",
    "shortDescription": "CARP TECH successfully converted all OH system from opensource to use Microsoft technology and released to market."
  },
  {
    "key": "cb7cc411-3a79-4fdd-bb19-3db6e864f68d",
    "name": "2017",
    "ncContentTypeAlias": "event",
    "year": "2017",
    "title": "IT hardware distribution",
    "shortDescription": "We have started to distribute IT hardware and started to develop a system to manage distribution and waranty."
  },
  {
    "key": "de4964f0-c397-4add-87fe-896eab0326aa",
    "name": "Item 5",
    "ncContentTypeAlias": "event",
    "year": "2019",
    "title": "Win valued customers in Vietnam market and distribute more brand",
    "shortDescription": "We successful delivered software system for big customers in insurance, manufacture and retailer industry."
  }
]]]></Value>
    </historyTimelinesContent>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
  </Properties>
</Content>