<?xml version="1.0" encoding="utf-8"?>
<Content Key="34245ec6-8d29-4073-b0a3-73db29cd52e6" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2020-09-25T10:08:27</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b21319a4-2739-49a9-8409-878b6d7706b3">home</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[65C Cao Thang Street,
District 3,
Ho Chi Minh City]]></Value>
    </address>
    <button>
      <Value><![CDATA[]]></Value>
    </button>
    <descriptionIntro>
      <Value><![CDATA[]]></Value>
    </descriptionIntro>
    <email>
      <Value><![CDATA[hello@carp.vn]]></Value>
    </email>
    <groupMenu>
      <Value><![CDATA[[
  {
    "key": "4e941b6a-0a79-4d02-b960-1d9807b01f63",
    "name": "CONTACT US",
    "ncContentTypeAlias": "groupLinks",
    "groupTitle": "CONTACT US",
    "contents": [
      {
        "name": "Contact",
        "udi": "umb://document/c87da9aabda4475dbd66f9132a474221"
      }
    ]
  },
  {
    "key": "7a111033-d431-4ea0-b7ec-1d633f7bc484",
    "name": "COMPANY",
    "ncContentTypeAlias": "groupLinks",
    "groupTitle": "COMPANY",
    "contents": []
  },
  {
    "key": "39fdb809-c5d0-4350-86d3-84df9bea9d7e",
    "name": "POLICIES",
    "ncContentTypeAlias": "groupLinks",
    "groupTitle": "POLICIES",
    "contents": []
  }
]]]></Value>
    </groupMenu>
    <logo>
      <Value><![CDATA[umb://media/7ab6101ffb0d467991e1feb06d8e56d0]]></Value>
    </logo>
    <menu>
      <Value><![CDATA[[{"name":"Home","udi":"umb://document/34245ec68d294073b0a373db29cd52e6"},{"name":"Service","udi":"umb://document/556f6ae1ed314990ad46e59f03c94562"},{"name":"Contact","udi":"umb://document/c87da9aabda4475dbd66f9132a474221"},{"name":"About","udi":"umb://document/62fffc1d803e4a74bae98dab11b54cd6"}]]]></Value>
    </menu>
    <phoneNumber>
      <Value><![CDATA[2822508707]]></Value>
    </phoneNumber>
    <sliderItems>
      <Value><![CDATA[[
  {
    "key": "b69b1fcc-623c-4fe9-bc51-3f207c892228",
    "name": "Digital Transformation",
    "ncContentTypeAlias": "sliderItem",
    "image": "umb://media/173f7842b1874e3d918b065556c9ac91",
    "title": "Digital Transformation",
    "description": "We can help you",
    "button": "Learn More",
    "link": [
      {
        "name": "Service",
        "udi": "umb://document/556f6ae1ed314990ad46e59f03c94562"
      }
    ],
    "textAlign": [
      "Left"
    ]
  },
  {
    "key": "63caeae6-fa99-4447-a598-fb134a54d6df",
    "name": "Behind in industry 4.0",
    "ncContentTypeAlias": "sliderItem",
    "image": "umb://media/7b371d9f87814090abd2b645154d54d3",
    "title": "Behind in industry 4.0",
    "description": "",
    "button": "Talk to us now",
    "link": [
      {
        "name": "Contact",
        "udi": "umb://document/c87da9aabda4475dbd66f9132a474221"
      }
    ],
    "textAlign": [
      "Right"
    ]
  }
]]]></Value>
    </sliderItems>
    <socialMedia>
      <Value><![CDATA[[{"name":"Facebook","url":"https://www.facebook.com/carptech/"},{"name":"Linkedin","url":"http://www.linkedin.com/"},{"name":"Twitter","url":"http://www.twitter.com/"}]]]></Value>
    </socialMedia>
    <subTitleContactForm>
      <Value><![CDATA[]]></Value>
    </subTitleContactForm>
    <titleContactForm>
      <Value><![CDATA[]]></Value>
    </titleContactForm>
    <titleIntro>
      <Value><![CDATA[]]></Value>
    </titleIntro>
    <yourEmail>
      <Value><![CDATA[]]></Value>
    </yourEmail>
    <yourMessage>
      <Value><![CDATA[]]></Value>
    </yourMessage>
    <yourName>
      <Value><![CDATA[]]></Value>
    </yourName>
    <yourPhone>
      <Value><![CDATA[]]></Value>
    </yourPhone>
  </Properties>
</Content>