<?xml version="1.0" encoding="utf-8"?>
<Content Key="db9df400-f36e-48b7-940c-5691ee840648" Alias="INFRASTRUCTURE DESIGN" Level="2">
  <Info>
    <Parent Key="687f5ef0-3bd6-428c-a9f4-24a768d1d86f">Service Collection</Parent>
    <Path>/ServiceCollection/INFRASTRUCTUREDESIGN</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItem</ContentType>
    <CreateDate>2020-10-07T09:50:09</CreateDate>
    <NodeName Default="INFRASTRUCTURE DESIGN" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <ogImage>
      <Value><![CDATA[umb://media/99507384bb6f498e900f876f496fe11b]]></Value>
    </ogImage>
    <ogShortDescription>
      <Value><![CDATA[<p>Your business always need a stable, secured IT infrastructure to grow. We have experienced consultants to help you to build that infrastructure from beginning while foresee the demand grow to reduce the interruption of hardware upgrade.</p>]]></Value>
    </ogShortDescription>
    <ogTitle>
      <Value><![CDATA[INFRASTRUCTURE DESIGN]]></Value>
    </ogTitle>
    <ogUrl>
      <Value><![CDATA[[]]]></Value>
    </ogUrl>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[1]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>