<?xml version="1.0" encoding="utf-8"?>
<Content Key="4310fe39-8950-4de7-9b6a-6f896d2d7c23" Alias="IT HARDWARE" Level="2">
  <Info>
    <Parent Key="687f5ef0-3bd6-428c-a9f4-24a768d1d86f">Service Collection</Parent>
    <Path>/ServiceCollection/ITHARDWARE</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItem</ContentType>
    <CreateDate>2020-10-07T09:50:28</CreateDate>
    <NodeName Default="IT HARDWARE" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <ogImage>
      <Value><![CDATA[umb://media/9872c0667b9a4443aac3690844fee13d]]></Value>
    </ogImage>
    <ogShortDescription>
      <Value><![CDATA[<p>We specialise in the field of Computer Hardware reselling for various reputed OEMs.</p>]]></Value>
    </ogShortDescription>
    <ogTitle>
      <Value><![CDATA[IT HARDWARE]]></Value>
    </ogTitle>
    <ogUrl>
      <Value><![CDATA[[]]]></Value>
    </ogUrl>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[1]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>