<?xml version="1.0" encoding="utf-8"?>
<Content Key="7cf8f4c7-edb8-44a5-9ce2-2a3cdf5eac02" Alias="Jobs" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Jobs</Path>
    <Trashed>false</Trashed>
    <ContentType>jobs</ContentType>
    <CreateDate>2020-10-07T13:56:25</CreateDate>
    <NodeName Default="Jobs" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>