<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1bb53b3-6932-495b-8c34-6954c8b6118e" Alias="OUTSOURCING SERVICE" Level="2">
  <Info>
    <Parent Key="687f5ef0-3bd6-428c-a9f4-24a768d1d86f">Service Collection</Parent>
    <Path>/ServiceCollection/OUTSOURCINGSERVICE</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItem</ContentType>
    <CreateDate>2020-10-07T09:49:15</CreateDate>
    <NodeName Default="OUTSOURCING SERVICE" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <ogImage>
      <Value><![CDATA[umb://media/2ebc2a791a39412fa5605742632ef6d2]]></Value>
    </ogImage>
    <ogShortDescription>
      <Value><![CDATA[<p>When you need your system to be developed in house but you don’t have enough resource. We can send our best developers to work onsite at your office with a reasonable cost.</p>]]></Value>
    </ogShortDescription>
    <ogTitle>
      <Value><![CDATA[OUTSOURCING SERVICE]]></Value>
    </ogTitle>
    <ogUrl>
      <Value><![CDATA[[]]]></Value>
    </ogUrl>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[1]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>