<?xml version="1.0" encoding="utf-8"?>
<Content Key="9f81cf9a-2814-4318-94c0-4e814c4c7754" Alias="PC AND WORKSTATION" Level="2">
  <Info>
    <Parent Key="687f5ef0-3bd6-428c-a9f4-24a768d1d86f">Service Collection</Parent>
    <Path>/ServiceCollection/PCANDWORKSTATION</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItem</ContentType>
    <CreateDate>2020-10-07T09:50:47</CreateDate>
    <NodeName Default="PC AND WORKSTATION" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <ogImage>
      <Value><![CDATA[umb://media/782aa44ccbbc4bf4a9ed3ff4e69afa31]]></Value>
    </ogImage>
    <ogShortDescription>
      <Value><![CDATA[<p>We make PC that suit your need, from a impressed show case PC to powerful workstation, or from a daily office PC to AI learning machine, we have them all.</p>]]></Value>
    </ogShortDescription>
    <ogTitle>
      <Value><![CDATA[PC AND WORKSTATION]]></Value>
    </ogTitle>
    <ogUrl>
      <Value><![CDATA[[]]]></Value>
    </ogUrl>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[1]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>