<?xml version="1.0" encoding="utf-8"?>
<Content Key="866e186c-658d-4d1b-8d09-9eef67109360" Alias="Sale executive" Level="2">
  <Info>
    <Parent Key="7cf8f4c7-edb8-44a5-9ce2-2a3cdf5eac02">Jobs</Parent>
    <Path>/Jobs/SaleExecutive</Path>
    <Trashed>false</Trashed>
    <ContentType>jobDescription</ContentType>
    <CreateDate>2020-10-07T14:43:21</CreateDate>
    <NodeName Default="Sale executive" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <buttonText>
      <Value><![CDATA[APPLY]]></Value>
    </buttonText>
    <content>
      <Value><![CDATA[<div id="collapse11Three" class="sale-ex collapse show">
<div class="card-body mt-3"><strong>As a Sale executive, you will:</strong>
<ul>
<li>Develop and maintain distribution channel by finding new and managing relationship with retailers in IT industry.
<ul>
<li>Introduce/consult our products and service to customers</li>
<li>Work with customers to resolve issue following company policy</li>
<li>Support finance department to collect due payment.</li>
</ul>
</li>
<li>Collect market information and update to management.</li>
<li>Manage personal sale plan and report weekly in corporate with company target sale.</li>
</ul>
<strong>We expect you to have:</strong>
<ul>
<li>At least one year experienced in IT hardware industry as salesman or equal</li>
<li>Deep understanding PC hardware, network and other IT products</li>
<li>Critical thinker and problem-solving skills</li>
<li>Can work independently or collaboratively</li>
<li>Good in communication, expressing idea.</li>
<li>Careful, honest</li>
</ul>
<ul class="list list-inline mt-4 mb-3 text-2">
<li class="list-inline-item"><strong>LOCATION:</strong> HO CHI MINH CITY</li>
<li class="list-inline-item ml-md-3"><strong>QUALIFICATION:</strong> 1+ YEAR EXPERIENCE</li>
</ul>
</div>
</div>]]></Value>
    </content>
    <jobTitle>
      <Value><![CDATA[Sale executive]]></Value>
    </jobTitle>
    <quantity>
      <Value><![CDATA[2]]></Value>
    </quantity>
  </Properties>
</Content>