<?xml version="1.0" encoding="utf-8"?>
<Content Key="866e186c-658d-4d1b-8d09-9eef67109360" Alias="Sale executive" Level="2">
  <Info>
    <Parent Key="7cf8f4c7-edb8-44a5-9ce2-2a3cdf5eac02">Jobs</Parent>
    <Path>/Jobs/SaleExecutive</Path>
    <Trashed>false</Trashed>
    <ContentType>jobDescription</ContentType>
    <CreateDate>2020-10-07T14:43:21</CreateDate>
    <NodeName Default="Sale executive" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <buttonText>
      <Value><![CDATA[]]></Value>
    </buttonText>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0e468f83ada6448e8de8403a87da207a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "a43408f9-e949-4ea2-83b2-33ce33602673",
      "udi": "umb://element/0e468f83ada6448e8de8403a87da207a",
      "whatYouWill": "<ul>\n<li>Develop and maintain distribution channel by finding new and managing relationship with retailers in IT industry.\n<ul>\n<li>Introduce/consult our products and service to customers</li>\n<li>Work with customers to resolve issue following company policy</li>\n<li>Support finance department to collect due payment.</li>\n</ul>\n</li>\n<li>Collect market information and update to management.</li>\n<li>Manage personal sale plan and report weekly in corporate with company target sale.</li>\n</ul>",
      "weExpectYouToHave": "<ul>\n<li>At least one year experienced in IT hardware industry as salesman or equal</li>\n<li>Deep understanding PC hardware, network and other IT products</li>\n<li>Critical thinker and problem-solving skills</li>\n<li>Can work independently or collaboratively</li>\n<li>Good in communication, expressing idea.</li>\n<li>Careful, honest</li>\n</ul>",
      "location": "<p>HO CHI MINH CITY</p>",
      "qualifications": "<p>1+ YEAR EXPERIENCE</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <jobTitle>
      <Value><![CDATA[Sale executive]]></Value>
    </jobTitle>
    <quantity>
      <Value><![CDATA[2]]></Value>
    </quantity>
  </Properties>
</Content>