<?xml version="1.0" encoding="utf-8"?>
<Content Key="46ac9fef-30bc-4766-8970-eff12e591ffc" Alias="Senior Software Engineer" Level="2">
  <Info>
    <Parent Key="7cf8f4c7-edb8-44a5-9ce2-2a3cdf5eac02">Jobs</Parent>
    <Path>/Jobs/SeniorSoftwareEngineer</Path>
    <Trashed>false</Trashed>
    <ContentType>jobDescription</ContentType>
    <CreateDate>2020-10-07T14:24:18</CreateDate>
    <NodeName Default="Senior Software Engineer" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <buttonText>
      <Value><![CDATA[APPLY]]></Value>
    </buttonText>
    <content>
      <Value><![CDATA[<p><strong>As a Senior Software Engineer, you will:</strong></p>
<ul>
<li>Analyze and understand business and technical requirements and work with clients across different domains and industries.</li>
<li>Produce high-quality design deliverables that describes how the solution will accommodate business and technical requirements.</li>
<li>Design, develop, maintain efficient and conduct testing for the software.</li>
<li>Participate in R&amp;D, training and knowledge sharing activities.</li>
<li>Ensure the tasks assigned are done on time with high quality.</li>
</ul>
<p><strong>We expect you to have:</strong></p>
<ul>
<li>Bachelor degree in Computer Science, Software Engineering, Information technology or equivalent.</li>
<li>Deep understanding of HTML, CSS and Javascript (Angular or ReactJS).</li>
<li>Strong fluency in English (spoken and written) are required.</li>
<li>OOP (Object Oriented Programming).</li>
<li>Experience working in ASP.NET MVC/Core, SQL Server and Entity Framework are required.</li>
<li>Deep understanding of HTML, CSS and Javascript (Angular or ReactJS).</li>
<li>Source control: Git.</li>
<li>Have a good knowledge of Sharepoint famework is an advantage.</li>
</ul>
<ul class="list list-inline mt-4 mb-3 text-2">
<li class="list-inline-item"><strong>LOCATION:</strong> HO CHI MINH CITY</li>
 
<li class="list-inline-item ml-md-3"><strong>QUALIFICATION:</strong> 3+ YEARS EXPERIENCE</li>
</ul>]]></Value>
    </content>
    <jobTitle>
      <Value><![CDATA[Senior Software Engineer]]></Value>
    </jobTitle>
    <quantity>
      <Value><![CDATA[2]]></Value>
    </quantity>
  </Properties>
</Content>