<?xml version="1.0" encoding="utf-8"?>
<Content Key="46ac9fef-30bc-4766-8970-eff12e591ffc" Alias="Senior Software Engineer" Level="2">
  <Info>
    <Parent Key="7cf8f4c7-edb8-44a5-9ce2-2a3cdf5eac02">Jobs</Parent>
    <Path>/Jobs/SeniorSoftwareEngineer</Path>
    <Trashed>false</Trashed>
    <ContentType>jobDescription</ContentType>
    <CreateDate>2020-10-07T14:24:18</CreateDate>
    <NodeName Default="Senior Software Engineer" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <buttonText>
      <Value><![CDATA[]]></Value>
    </buttonText>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/914e5d02d5df47e3a1ac0766590cc426"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "132200a3-1d2a-4b21-bf9f-6c4c4bda6f59",
      "udi": "umb://element/914e5d02d5df47e3a1ac0766590cc426",
      "whatYouWill": "Analyze and understand business and technical requirements and work with clients across different domains and industries.\r\nProduce high-quality design deliverables that describes how the solution will accommodate business and technical requirements.\r\nDesign, develop, maintain efficient and conduct testing for the software.\r\nParticipate in R&D, training and knowledge sharing activities.\r\nEnsure the tasks assigned are done on time with high quality.",
      "weExpectYouToHave": "Bachelor degree in Computer Science, Software Engineering, Information technology or equivalent.\r\nDeep understanding of HTML, CSS and Javascript (Angular or ReactJS).\r\nStrong fluency in English (spoken and written) are required.\r\nOOP (Object Oriented Programming).\r\nExperience working in ASP.NET MVC/Core, SQL Server and Entity Framework are required.\r\nDeep understanding of HTML, CSS and Javascript (Angular or ReactJS).\r\nSource control: Git.\r\nHave a good knowledge of Sharepoint famework is an advantage.",
      "location": "HO CHI MINH CITY",
      "qualifications": "3+ YEARS EXPERIENCE"
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
    <jobTitle>
      <Value><![CDATA[Senior Software Engineer]]></Value>
    </jobTitle>
    <quantity>
      <Value><![CDATA[2]]></Value>
    </quantity>
  </Properties>
</Content>