<?xml version="1.0" encoding="utf-8"?>
<Content Key="556f6ae1-ed31-4990-ad46-e59f03c94562" Alias="Service" Level="2">
  <Info>
    <Parent Key="34245ec6-8d29-4073-b0a3-73db29cd52e6">Home</Parent>
    <Path>/Home/Service</Path>
    <Trashed>false</Trashed>
    <ContentType>service</ContentType>
    <CreateDate>2020-09-25T10:32:29</CreateDate>
    <NodeName Default="Service" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2410d864-8e7e-4c75-9bd9-61e7d86462e7">service</Template>
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[umb://media/f867659010af460abcde37194a3fa733]]></Value>
    </bannerImage>
    <bannerTitle>
      <Value><![CDATA[Service]]></Value>
    </bannerTitle>
    <descriptionContactSection>
      <Value><![CDATA[]]></Value>
    </descriptionContactSection>
    <imageContactSection>
      <Value><![CDATA[umb://media/7562db2dd01049c3ad37114981b9daf1]]></Value>
    </imageContactSection>
    <services>
      <Value><![CDATA[[
  {
    "key": "9c315e71-b673-42e4-b1db-5d453202609c",
    "name": "SOFTWARE SOLUTION SERVICES",
    "ncContentTypeAlias": "serviceGroup",
    "groupName": "SOFTWARE SOLUTION SERVICES",
    "groupDescription": "Our suitable solutions for your software system requirements",
    "serviceItems": "umb://document/2a4aebc82ca641bbabf67b1be7371a80,umb://document/af2d3a1248a341d6b3b15bf60b53fd3f,umb://document/f1bb53b36932495b8c346954c8b6118e"
  },
  {
    "key": "859563a2-0cf7-4371-8e4f-a1b2d6045ff6",
    "name": "INFRASTRUCTURE SOLUTION SERVICES",
    "ncContentTypeAlias": "serviceGroup",
    "groupName": "INFRASTRUCTURE SOLUTION SERVICES",
    "groupDescription": "Despite of your budget size, we always have an answer",
    "serviceItems": "umb://document/db9df400f36e48b7940c5691ee840648,umb://document/4310fe3989504de79b6a6f896d2d7c23,umb://document/9f81cf9a2814431894c04e814c4c7754"
  }
]]]></Value>
    </services>
    <subTitleContactSection>
      <Value><![CDATA[Talk to out consultant]]></Value>
    </subTitleContactSection>
    <titleContactSection>
      <Value><![CDATA[Let's talk Business]]></Value>
    </titleContactSection>
  </Properties>
</Content>