<?xml version="1.0" encoding="utf-8"?>
<Content Key="556f6ae1-ed31-4990-ad46-e59f03c94562" Alias="Service" Level="2">
  <Info>
    <Parent Key="34245ec6-8d29-4073-b0a3-73db29cd52e6">Home</Parent>
    <Path>/Home/Service</Path>
    <Trashed>false</Trashed>
    <ContentType>service</ContentType>
    <CreateDate>2020-09-25T10:32:29</CreateDate>
    <NodeName Default="Service" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerTitle>
      <Value><![CDATA[Service]]></Value>
    </bannerTitle>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
  </Properties>
</Content>