<?xml version="1.0" encoding="utf-8"?>
<Content Key="687f5ef0-3bd6-428c-a9f4-24a768d1d86f" Alias="Service Collection" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServiceCollection</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceCollection</ContentType>
    <CreateDate>2020-10-05T10:29:02</CreateDate>
    <NodeName Default="Service Collection" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>