<?xml version="1.0" encoding="utf-8"?>
<Content Key="556f6ae1-ed31-4990-ad46-e59f03c94562" Alias="Service" Level="2">
  <Info>
    <Parent Key="34245ec6-8d29-4073-b0a3-73db29cd52e6">Home</Parent>
    <Path>/Home/Service</Path>
    <Trashed>false</Trashed>
    <ContentType>service</ContentType>
    <CreateDate>2020-09-25T10:32:29</CreateDate>
    <NodeName Default="Service" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[umb://media/f867659010af460abcde37194a3fa733]]></Value>
    </bannerImage>
    <bannerTitle>
      <Value><![CDATA[Service]]></Value>
    </bannerTitle>
    <descriptionContactSection>
      <Value><![CDATA[]]></Value>
    </descriptionContactSection>
    <imageContactSection>
      <Value><![CDATA[]]></Value>
    </imageContactSection>
    <services>
      <Value><![CDATA[[
  {
    "key": "9c315e71-b673-42e4-b1db-5d453202609c",
    "name": "SOFTWARE SOLUTION SERVICES",
    "ncContentTypeAlias": "serviceGroup",
    "groupName": "SOFTWARE SOLUTION SERVICES",
    "groupDescription": "Our suitable solutions for your software system requirements",
    "serviceItems": "umb://document/2a4aebc82ca641bbabf67b1be7371a80"
  }
]]]></Value>
    </services>
    <subTitleContactSection>
      <Value><![CDATA[]]></Value>
    </subTitleContactSection>
    <titleContactSection>
      <Value><![CDATA[]]></Value>
    </titleContactSection>
  </Properties>
</Content>