<?xml version="1.0" encoding="utf-8"?>
<Content Key="af2d3a12-48a3-41d6-b3b1-5bf60b53fd3f" Alias="SOFTWARE DEVELOPMENT" Level="2">
  <Info>
    <Parent Key="687f5ef0-3bd6-428c-a9f4-24a768d1d86f">Service Collection</Parent>
    <Path>/ServiceCollection/SOFTWAREDEVELOPMENT</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItem</ContentType>
    <CreateDate>2020-10-07T09:47:03</CreateDate>
    <NodeName Default="SOFTWARE DEVELOPMENT" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <ogImage>
      <Value><![CDATA[umb://media/1fde4d01cca740fb85ba489430da8a32]]></Value>
    </ogImage>
    <ogShortDescription>
      <Value><![CDATA[<p>When you need a software system but you don’t want to make it, we will do the task for you. We have flexible and agile management scheme that allow you to control the progress and quality of your system development.</p>]]></Value>
    </ogShortDescription>
    <ogTitle>
      <Value><![CDATA[SOFTWARE DEVELOPMENT]]></Value>
    </ogTitle>
    <ogUrl>
      <Value><![CDATA[[]]]></Value>
    </ogUrl>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[1]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>