<?xml version="1.0" encoding="utf-8"?>
<Content Key="2a4aebc8-2ca6-41bb-abf6-7b1be7371a80" Alias="SOLUTION CONSULTING" Level="2">
  <Info>
    <Parent Key="687f5ef0-3bd6-428c-a9f4-24a768d1d86f">Service Collection</Parent>
    <Path>/ServiceCollection/SOLUTIONCONSULTING</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItem</ContentType>
    <CreateDate>2020-10-05T10:38:58</CreateDate>
    <NodeName Default="SOLUTION CONSULTING" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <ogShortDescription>
      <Value><![CDATA[<p>When your IT department cannot provide decent solutions for your problem, you can talk our specialists. With people who work for many big company, we have enough technical skill and experience to fulfill your requirement.</p>]]></Value>
    </ogShortDescription>
    <ogTitle>
      <Value><![CDATA[SOLUTION CONSULTING]]></Value>
    </ogTitle>
    <ogUrl>
      <Value><![CDATA[[]]]></Value>
    </ogUrl>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[1]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>