<?xml version="1.0" encoding="utf-8"?>
<Content Key="0603e9ee-7e01-4431-a5f1-b1d1420bbc09" Alias="Why Choose Us?" Level="2">
  <Info>
    <Parent Key="77846c24-45ad-4401-a517-11bb15e1b0a2">Basic Components</Parent>
    <Path>/BasicComponents/WhyChooseUs</Path>
    <Trashed>false</Trashed>
    <ContentType>whyChooseUs</ContentType>
    <CreateDate>2020-10-04T21:16:03</CreateDate>
    <NodeName Default="Why Choose Us?" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <whyChooseUsContent>
      <Value><![CDATA[[
  {
    "key": "ff23f5c2-f325-46f1-9037-4c9ace288911",
    "name": "PEOPLE",
    "ncContentTypeAlias": "previewControl",
    "title": "PEOPLE",
    "shortDescription": "<p>Our people is strong with Mirosoft technology that can help customer to deploy solution quickly and get benefit soon.</p>",
    "image": ""
  },
  {
    "key": "2bcc8dbc-a35a-4020-9bdf-2e5d7f1e89b6",
    "name": "PROCESS",
    "ncContentTypeAlias": "previewControl",
    "title": "PROCESS",
    "shortDescription": "<p>Our process is simple and result oriented. We can flexible apply customer’s process to meet customer audit requirements.</p>",
    "image": ""
  },
  {
    "key": "b14536dd-646f-44c1-a4e4-77cb8459f21f",
    "name": "VALUE",
    "ncContentTypeAlias": "previewControl",
    "title": "VALUE",
    "shortDescription": "<p>We do not provide cheapest solution to customer but rather showing the best value over cost so customer can get the most</p>",
    "image": ""
  }
]]]></Value>
    </whyChooseUsContent>
  </Properties>
</Content>