<?xml version="1.0" encoding="utf-8"?>
<Media Key="f8676590-10af-460a-bcde-37194a3fa733" Alias="About Header" Level="2">
  <Info>
    <Parent Key="d5eabdee-8d28-48a9-9b95-219a926779c2">Banner</Parent>
    <Path>/Banner/AboutHeader</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-09-29T22:11:49</CreateDate>
    <NodeName Default="About Header" />
    <SortOrder>0</SortOrder>
    <FileHash>165919717224129198103155178251323213210140</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/szshp4fp/about-header.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>