<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5eabdee-8d28-48a9-9b95-219a926779c2" Alias="Banner" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Banner</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-09-25T10:37:14</CreateDate>
    <NodeName Default="Banner" />
    <SortOrder>1</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>