<?xml version="1.0" encoding="utf-8"?>
<Media Key="f87f5ac2-9626-4574-bc74-9a78b2a6d568" Alias="Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-09-25T10:08:42</CreateDate>
    <NodeName Default="Logo" />
    <SortOrder>1</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>