<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ab6101f-fb0d-4679-91e1-feb06d8e56d0" Alias="logo" Level="2">
  <Info>
    <Parent Key="f87f5ac2-9626-4574-bc74-9a78b2a6d568">Logo</Parent>
    <Path>/Logo/logo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-09-25T10:09:25</CreateDate>
    <NodeName Default="logo" />
    <SortOrder>0</SortOrder>
    <FileHash>4017725519919215569411271644212320920651195</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/deilm4qn/logo.png","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>