<?xml version="1.0" encoding="utf-8"?>
<Media Key="1bd39aa6-c1ed-40fc-93cd-e392b9d079f1" Alias="Our History 1" Level="2">
  <Info>
    <Parent Key="534a4f9e-e9a4-4b38-ad8f-7345d2851ac4">History Timelines</Parent>
    <Path>/HistoryTimelines/OurHistory1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-06T17:13:23</CreateDate>
    <NodeName Default="Our History 1" />
    <SortOrder>0</SortOrder>
    <FileHash>178741032223917531901498814715621516220172</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ucnngg5n/our-history-1.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>