<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac250941-6583-4fe9-ae82-667d6bce22a1" Alias="Parallax 4" Level="2">
  <Info>
    <Parent Key="3c0aa81f-a701-4254-a456-a10d55d92a62">Contact Section</Parent>
    <Path>/ContactSection/Parallax4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-06T17:10:27</CreateDate>
    <NodeName Default="Parallax 4" />
    <SortOrder>0</SortOrder>
    <FileHash>16524213823651432457052731432352391428040</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/i2edlled/parallax-4.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>