<?xml version="1.0" encoding="utf-8"?>
<Media Key="7562db2d-d010-49c3-ad37-114981b9daf1" Alias="Service Contact" Level="2">
  <Info>
    <Parent Key="3c0aa81f-a701-4254-a456-a10d55d92a62">Contact Section</Parent>
    <Path>/ContactSection/ServiceContact</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-07T09:52:51</CreateDate>
    <NodeName Default="Service Contact" />
    <SortOrder>0</SortOrder>
    <FileHash>22421038191160165169225198451823921791157</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/fpnhe3iq/service-contact.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>