<?xml version="1.0" encoding="utf-8"?>
<Media Key="9872c066-7b9a-4443-aac3-690844fee13d" Alias="Service 5" Level="2">
  <Info>
    <Parent Key="c9b17f2f-c38d-4d54-8f58-1ec88f3129b2">Services</Parent>
    <Path>/Services/Service5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-07T09:48:13</CreateDate>
    <NodeName Default="Service 5" />
    <SortOrder>0</SortOrder>
    <FileHash>20352011991492161585771472311807217310072</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mdahfge0/service-5.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>