<?xml version="1.0" encoding="utf-8"?>
<Media Key="99507384-bb6f-498e-900f-876f496fe11b" Alias="Service 6" Level="2">
  <Info>
    <Parent Key="c9b17f2f-c38d-4d54-8f58-1ec88f3129b2">Services</Parent>
    <Path>/Services/Service6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-07T09:48:12</CreateDate>
    <NodeName Default="Service 6" />
    <SortOrder>0</SortOrder>
    <FileHash>4616116912278166207215122284922723490103211</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/qjzfbglp/service-6.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>