<?xml version="1.0" encoding="utf-8"?>
<Media Key="c9b17f2f-c38d-4d54-8f58-1ec88f3129b2" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-10-07T09:47:56</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>5</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>