<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ebc2a79-1a39-412f-a560-5742632ef6d2" Alias="Service 3" Level="2">
  <Info>
    <Parent Key="c9b17f2f-c38d-4d54-8f58-1ec88f3129b2">Services</Parent>
    <Path>/Services/Service3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-07T09:48:12</CreateDate>
    <NodeName Default="Service 3" />
    <SortOrder>0</SortOrder>
    <FileHash>20315016325072121221211158921191676814162196</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/p2vlylrz/service-3.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>