<?xml version="1.0" encoding="utf-8"?>
<Media Key="a86d9940-5b25-4ce8-aa8d-d7970c027b11" Alias="Why Choose Us Icon Value" Level="2">
  <Info>
    <Parent Key="fd716c7c-e368-4833-acf1-81704b4337f2">Why Choose Us</Parent>
    <Path>/WhyChooseUs/WhyChooseUsIconValue</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-05T21:55:05</CreateDate>
    <NodeName Default="Why Choose Us Icon Value" />
    <SortOrder>1</SortOrder>
    <FileHash>1731241371902720013725012105130536424920070</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/i0mh1kbf/why-choose-us-icon-value.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>