<?xml version="1.0" encoding="utf-8"?>
<Media Key="67067b27-81ec-4eb4-bc9c-c3bf7dc51f74" Alias="Why Choose Us Icon Process" Level="2">
  <Info>
    <Parent Key="fd716c7c-e368-4833-acf1-81704b4337f2">Why Choose Us</Parent>
    <Path>/WhyChooseUs/WhyChooseUsIconProcess</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-05T21:55:05</CreateDate>
    <NodeName Default="Why Choose Us Icon Process" />
    <SortOrder>0</SortOrder>
    <FileHash>2332211635918323109228637879513010219599</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ef3bmz5m/why-choose-us-icon-process.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>