<?xml version="1.0" encoding="utf-8"?>
<Media Key="cbeae6f9-29c3-4c96-81c0-277d58e17b01" Alias="Why Choose Us Icon People" Level="2">
  <Info>
    <Parent Key="fd716c7c-e368-4833-acf1-81704b4337f2">Why Choose Us</Parent>
    <Path>/WhyChooseUs/WhyChooseUsIconPeople</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-05T21:55:06</CreateDate>
    <NodeName Default="Why Choose Us Icon People" />
    <SortOrder>2</SortOrder>
    <FileHash>12226237141140190221221118320223510421185</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/55tovs4d/why-choose-us-icon-people.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>