<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4d22e814-890f-4de8-ad8a-6773f9cbd853" Alias="Career - Current Openings - Multinode Treepicker" Level="1">
  <Info>
    <Name>Career - Current Openings - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/7cf8f4c7edb844a59ce22a3cdf5eac02"
  },
  "Filter": "jobDescription",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>