<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9d26c9f5-2185-461a-9f23-dd076c8c8326" Alias="Counter - Nested Content" Level="1">
  <Info>
    <Name>Counter - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "counter",
      "ncTabAlias": "Content",
      "nameTemplate": "{{text}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>