<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a9eabdbe-edcf-4120-9b38-83e6f0e1ac51" Alias="Event - Nested Content" Level="1">
  <Info>
    <Name>Event - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "event",
      "ncTabAlias": "Content",
      "nameTemplate": "{{year}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>