<?xml version="1.0" encoding="utf-8"?>
<DataType Key="81f67cfa-24f7-447d-bd1a-ddf7d13b552d" Alias="Group Links - Nested Content" Level="1">
  <Info>
    <Name>Group Links - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "groupLinks",
      "ncTabAlias": "Content",
      "nameTemplate": "{{groupTitle}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>