<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4adba37f-4f57-45b5-99be-4d1c0a49ef34" Alias="Job Description" Level="1">
  <Info>
    <Name>Job Description</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "#67daff",
      "iconColor": "#00235e",
      "thumbnail": null,
      "contentElementTypeKey": "f4eae791-5fa7-4c3a-9ab6-ba46ce4894b0",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": "#9aafdb",
      "iconColor": "#061a30",
      "thumbnail": null,
      "contentElementTypeKey": "132200a3-1d2a-4b21-bf9f-6c4c4bda6f59",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "a43408f9-e949-4ea2-83b2-33ce33602673",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": 1,
    "max": 1
  },
  "UseLiveEditing": true,
  "UseInlineEditingAsDefault": true,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>