<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3b7777e3-24a2-4b7f-9074-dcf4f086fd8b" Alias="Paragraph Template - Block List" Level="1">
  <Info>
    <Name>Paragraph Template - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/img/backoffice/thumnail-block-list-editor.png",
      "contentElementTypeKey": "41ffcb44-d32a-4410-bf04-2cde734a10bb",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/blocks/content/index.html",
      "stylesheet": null,
      "label": "Paragraph Template",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": 1
  },
  "UseLiveEditing": true,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>