<?xml version="1.0" encoding="utf-8"?>
<DataType Key="86063184-d294-4ab6-b59e-59133fbeb232" Alias="Preview with URL Control - Nested Content" Level="1">
  <Info>
    <Name>Preview with URL Control - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "pagePreviewControl",
      "ncTabAlias": "Page",
      "nameTemplate": "{{pagePreviewTitle}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>