<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c25cf2d4-59b3-4e1d-8738-c53b78c4bc4d" Alias="Preview Control - Nested Content" Level="1">
  <Info>
    <Name>Preview Control - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "previewControl",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>