<?xml version="1.0" encoding="utf-8"?>
<DataType Key="83b5b55c-d238-4110-922b-c09d89012e70" Alias="Repeatable textstrings" Level="1">
  <Info>
    <Name>Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Minimum": 0,
  "Maximum": 0
}]]></Config>
</DataType>