<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6406c65e-f558-46e5-95cb-0e9fa35b6dc3" Alias="Service Group - Mulit - Multinode Treepicker" Level="1">
  <Info>
    <Name>Service Group - Mulit - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/687f5ef03bd6428ca9f424a768d1d86f"
  },
  "Filter": "serviceItem",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>