<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d14fc190-a3b8-4b84-8ac9-480b5287c684" Alias="Service -  Nested Content" Level="1">
  <Info>
    <Name>Service -  Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "serviceGroup",
      "ncTabAlias": "Content",
      "nameTemplate": "{{groupName}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>