<?xml version="1.0" encoding="utf-8"?>
<DataType Key="54eb367b-162f-49be-b200-9d33b3e10891" Alias="Single Url Picker" Level="1">
  <Info>
    <Name>Single Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 1,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>