<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ac332c24-4492-4582-b768-0cb7fc5c8352" Alias="Slider Item - Nested Content" Level="1">
  <Info>
    <Name>Slider Item - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "sliderItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>