<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3749b498-9e81-4b2f-bec8-11e00be77208" Alias="Text Align - Dropdown" Level="1">
  <Info>
    <Name>Text Align - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Left"
    },
    {
      "id": 2,
      "value": "Right"
    }
  ]
}]]></Config>
</DataType>