<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="14d2eb6e-8f06-4145-b58a-ba54fb1d9a2c" Alias="about" Level="3">
  <Info>
    <Name>About</Name>
    <Icon>icon-info color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Home</Folder>
    <Compositions>
      <Composition Key="efa305ac-731b-4c77-9d03-1b16f8dccb0f">banner</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>