<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c5bcb2fd-e60c-4cb0-83c6-bdf43ddbc605" Alias="basicComponents" Level="3">
  <Info>
    <Name>Basic Components</Name>
    <Icon>icon-folder-open color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Basic+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="2307548d-1705-4e54-b063-567b7be65d33" SortOrder="0">whyChooseUs</ContentType>
    <ContentType Key="c8f3416d-52a3-41b6-a5c8-36fdf84e034a" SortOrder="1">counters</ContentType>
    <ContentType Key="cfe0843c-ed5f-4a82-9ddb-3a9eb3da7cdb" SortOrder="2">historyTimelines</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>