<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6c39e488-e12e-4550-9294-88a31da907b6" Alias="candidateList" Level="3">
  <Info>
    <Name>Candidate List</Name>
    <Icon>icon-users color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Candidates</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="c14afe13-5bba-4308-b2ef-b694e26f98ff" SortOrder="0">candidate</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>