<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c14afe13-5bba-4308-b2ef-b694e26f98ff" Alias="candidate" Level="3">
  <Info>
    <Name>Candidate Item</Name>
    <Icon>icon-user color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Candidates</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>