<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2ba58968-edf2-4387-ab18-531f4ca6fba6" Alias="career" Level="3">
  <Info>
    <Name>Career</Name>
    <Icon>icon-donate color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Home</Folder>
    <Compositions />
    <DefaultTemplate>career</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="03553138-928a-4526-b940-0e74d106cbb8">career</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>