<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0d58cad1-4cd6-4125-84fa-2f5842705686" Alias="contact" Level="3">
  <Info>
    <Name>Contact</Name>
    <Icon>icon-phone-ring color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Home</Folder>
    <Compositions>
      <Composition Key="efa305ac-731b-4c77-9d03-1b16f8dccb0f">banner</Composition>
      <Composition Key="6604ec43-38bc-4a85-8bce-28497504ec6d">contactForm</Composition>
    </Compositions>
    <DefaultTemplate>contact</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0618f48e-31ad-4f90-a6e3-7c92cb4f711c">contact</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>