<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a6f8fad2-58f1-4fbe-a89b-50da16d6daca" Alias="contactList" Level="3">
  <Info>
    <Name>Contact List</Name>
    <Icon>icon-users color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Contacts</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="73fc1871-f868-4b05-aef8-28856708cc4a" SortOrder="0">contactItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>