<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="73fc1871-f868-4b05-aef8-28856708cc4a" Alias="contactItem" Level="3">
  <Info>
    <Name>Contact Item</Name>
    <Icon>icon-user color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Contacts</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>