<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5051094c-9f37-44c4-aa05-dacc1001a410" Alias="footer" Level="2">
  <Info>
    <Name>Footer</Name>
    <Icon>icon-navigation-bottom color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9fb61026-0837-4a4a-96c6-92dc56c62fee</Key>
      <Name>Group Menu</Name>
      <Alias>groupMenu</Alias>
      <Definition>81f67cfa-24f7-447d-bd1a-ddf7d13b552d</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Footer</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Footer</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>