<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cfe0843c-ed5f-4a82-9ddb-3a9eb3da7cdb" Alias="historyTimelines" Level="3">
  <Info>
    <Name>History Timelines</Name>
    <Icon>icon-bulleted-list color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Basic+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>23bd6355-eb6f-4109-b5d1-798fbb623f14</Key>
      <Name>History Timelines</Name>
      <Alias>historyTimelinesContent</Alias>
      <Definition>a9eabdbe-edcf-4120-9b38-83e6f0e1ac51</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>History Timelines</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>38c4740b-c83e-4894-8bff-3abfb6babf97</Key>
      <Name>Main Image</Name>
      <Alias>mainImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>History Timelines</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>History Timelines</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>