<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3df56c46-f047-43a4-adc3-96f22e94a09e" Alias="home" Level="3">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Home</Folder>
    <Compositions>
      <Composition Key="c0c45782-303a-4beb-aa18-317443f404a3">companyInfo</Composition>
      <Composition Key="6604ec43-38bc-4a85-8bce-28497504ec6d">contactForm</Composition>
      <Composition Key="5051094c-9f37-44c4-aa05-dacc1001a410">footer</Composition>
      <Composition Key="c92f5231-d866-42d9-a69f-d150ece95e3f">header</Composition>
      <Composition Key="c500d887-0077-4a66-96ed-f9b9b997eab8">slider</Composition>
    </Compositions>
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b21319a4-2739-49a9-8409-878b6d7706b3">home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c43ee077-1f41-4e5e-be29-bd5d39f6f017" SortOrder="0">service</ContentType>
    <ContentType Key="0d58cad1-4cd6-4125-84fa-2f5842705686" SortOrder="1">contact</ContentType>
    <ContentType Key="14d2eb6e-8f06-4145-b58a-ba54fb1d9a2c" SortOrder="2">about</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>10b6698d-d020-4b79-ab83-ca76d46eb0a0</Key>
      <Name>Button</Name>
      <Alias>button</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Home Intro</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>19dc0387-23f5-47c1-be7d-6b5400f54ec2</Key>
      <Name>Description Intro</Name>
      <Alias>descriptionIntro</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Home Intro</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4807c708-384a-449f-b803-74f0c45f57b2</Key>
      <Name>Title Intro</Name>
      <Alias>titleIntro</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Home Intro</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Home Intro</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>