<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3df56c46-f047-43a4-adc3-96f22e94a09e" Alias="home" Level="3">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Home</Folder>
    <Compositions>
      <Composition Key="c0c45782-303a-4beb-aa18-317443f404a3">companyInfo</Composition>
      <Composition Key="5051094c-9f37-44c4-aa05-dacc1001a410">footer</Composition>
      <Composition Key="c92f5231-d866-42d9-a69f-d150ece95e3f">header</Composition>
    </Compositions>
    <DefaultTemplate>master</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="929ef409-26bb-4e0e-b244-b93acbe75b83">master</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c43ee077-1f41-4e5e-be29-bd5d39f6f017" SortOrder="0">service</ContentType>
    <ContentType Key="0d58cad1-4cd6-4125-84fa-2f5842705686" SortOrder="1">contact</ContentType>
    <ContentType Key="14d2eb6e-8f06-4145-b58a-ba54fb1d9a2c" SortOrder="2">about</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>