<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b3bec867-7ef0-49a8-aed0-82680a4c90f2" Alias="jobs" Level="3">
  <Info>
    <Name>Jobs</Name>
    <Icon>icon-list color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Jobs</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="91206cdd-0f12-47c0-8bd9-1d8409302eb3" SortOrder="0">jobDescription</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>