<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c43ee077-1f41-4e5e-be29-bd5d39f6f017" Alias="service" Level="3">
  <Info>
    <Name>Service</Name>
    <Icon>icon-help color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Home</Folder>
    <Compositions>
      <Composition Key="efa305ac-731b-4c77-9d03-1b16f8dccb0f">banner</Composition>
      <Composition Key="25a51cd5-e4fa-4754-a0e1-3842840085ac">contactSection</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0aebb031-fcea-403d-a0f3-08a18360de45</Key>
      <Name>Services</Name>
      <Alias>services</Alias>
      <Definition>d14fc190-a3b8-4b84-8ac9-480b5287c684</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Services</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Services</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>