<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="70f79553-441b-461a-9abe-417f03f4d6cc" Alias="serviceCollection" Level="3">
  <Info>
    <Name>Service Collection</Name>
    <Icon>icon-folders color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Services</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="304be3f1-ef12-4900-ae1a-449145af0ea0" SortOrder="0">serviceItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>