<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="304be3f1-ef12-4900-ae1a-449145af0ea0" Alias="serviceItem" Level="3">
  <Info>
    <Name>Service Item</Name>
    <Icon>icon-operator color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Services</Folder>
    <Compositions>
      <Composition Key="1c821650-ac6b-438a-8de7-cfcfee0cfe54">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>