<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c43ee077-1f41-4e5e-be29-bd5d39f6f017" Alias="service" Level="3">
  <Info>
    <Name>Service</Name>
    <Icon>icon-help color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Home</Folder>
    <Compositions>
      <Composition Key="efa305ac-731b-4c77-9d03-1b16f8dccb0f">banner</Composition>
      <Composition Key="25a51cd5-e4fa-4754-a0e1-3842840085ac">contactSection</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>