<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2307548d-1705-4e54-b063-567b7be65d33" Alias="whyChooseUs" Level="3">
  <Info>
    <Name>Why Choose Us</Name>
    <Icon>icon-pushpin color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Basic+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>45055b7f-8078-4a32-a25f-992ec1c6e1c5</Key>
      <Name>Why Choose Us</Name>
      <Alias>whyChooseUsContent</Alias>
      <Definition>c25cf2d4-59b3-4e1d-8738-c53b78c4bc4d</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Why Choose Us</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Why Choose Us</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>